html,body {
    width: 100%;
    height: 100%;
    background-image: url(../jungle2.jpg);
}


h1 {
    font-family: 'Verdana';
    background-color:rgba(60, 141, 65, 0.849);
    padding-right: 10px;
    height: 45px;
    width: 1000px;
    padding: 10px;
    color: aliceblue;
}

h2 {
    font-family: 'Verdana';
    background-color: rgb(105, 185, 105);
    height: 30px;
    width: 800px;


}

h3 {
    font-family: 'Verdana';
    background-color: rgb(105, 185, 105);
    width: 510px;
    color:aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;
}