html,body {
    width: 220%;
    height: 240%

}

#button {
height: 50px;
width: 50px;

}

li {
    font-family: 'Verdana';
    font-size: 40px;
    border: 5px solid rgb(89, 146, 148);
    background-color: rgb(245, 245, 245);
    padding-right: 20px;
    padding-left: 20px;
    display: inline; /* inline block table */
    /*
    display: table;
    width: 100px;
    margin-bottom: 5px;
    text-align: right;
    */
    
}

li:hover {
    background-color: lightblue
}

h1 {
    font-size: 30px
}

a {
    color: rgb(92, 91, 94);
    text-decoration: none;
}

#russia {
        right: 0px;
        bottom: 0px;
        left: 2700px;
        top: 240px;
        position: absolute;
}

#australia {
        right: 0px;
        bottom: 0px;
        left: 3420px;
        top: 1600px;
        position: absolute;
}

#america {
        right: 0px;
        bottom: 0px;
        left: 400px;
        top: 580px;
        position: absolute;
}

#canada {
        right: 0px;
        bottom: px;
        left: 70px;
        top: -300px;
        position: absolute;
}

#eastern-south-america {
        right: 0px;
        bottom: 0px;
        left: -1980px;
        top: 700px;
        position: absolute;
}

#china {
        right: 0px;
        bottom: 0px;
        left: 2500px;
        top: 400px;
        position: absolute;

}

#north-africa {
        right: 0px;
        bottom: 0px;
        left: 800px;
        top: -550px;
        position: absolute;

}

#central-africa {
        right: 0px;
        bottom: 0px;
        left: 50px;
        top: 400px;
        position: absolute;

}

#western-africa {
        right: 0px;
        bottom: 0px;
        left: -260px;
        top: -200px;
        position: absolute;
        
}

#east-africa {
        right: 0px;
        bottom: 0px;
        left: 600px;
        top: 80px;
        position: absolute;

}

#southern-africa {
        right: 0px;
        bottom: 0px;
        left: -240px;
        top: 380px;
        position: absolute;

}

#western-europe {
        right: 0px;
        bottom: 0px;
        left: -220px;
        top: -1040px;
        position: absolute;
        width: 500px;
        height: 100px;
}


body {
    background-image: url(../worldmap.png);
    height: 1px;
    width: 1px;
}


