html,body {
    width: 220%;
    height: 240%

}

#button {
height: 50px;
width: 50px;

}

li {
    font-family: 'Verdana';
    font-size: 40px;
    border: 5px solid rgb(89, 146, 148);
    background-color: rgb(245, 245, 245);
    padding-right: 20px;
    padding-left: 20px;
    display: inline;
    
}

li:hover {
    background-color: lightblue
}

h1 {
    font-size: 30px
}

a {
    color: rgb(92, 91, 94);
    text-decoration: none;
}

#russia {
        right: 0px;
        bottom: 0px;
        left: 2700px;
        top: 240px;
        position: absolute;
}

#australia {
        right: 0px;
        bottom: 0px;
        left: 3420px;
        top: 1600px;
        position: absolute;
}

#america {
        right: 0px;
        bottom: 0px;
        left: 400px;
        top: 580px;
        position: absolute;
}

#canada {
        right: 0px;
        bottom: px;
        left: 70px;
        top: -300px;
        position: absolute;
}

#brazil {
        right: 0px;
        bottom: 0px;
        left: 590px;
        top: 1100px;
        position: absolute;
}

#china {
        right: 0px;
        bottom: 0px;
        left: 2000px;
        top: -700px;
        position: absolute;
        width: 600px;
        height: 100px;
}


#south-africa {
        right: 0px;
        bottom: 0px;
        left: -1100px;
        top: 900px;
        position: absolute;
        width: 700px;
        height: 100px;
}


#france {
        right: 0px;
        bottom: 0px;
        left: -190px;
        top: -1080px;
        position: absolute;
        width: 400px;
        height: 100px; 
}

#italy {
        right: 0px;
        bottom: 0px;
        left: 150px;
        top: 80px;
        position: absolute;
        width: 400px;
        height: 100px; 
}

#germany {
        right: 0px;
        bottom: 0px;
        left: -70px;
        top: -150px;
        position: absolute;
        width: 400px;
        height: 100px; 
}

#mexico {
        right: 0px;
        bottom: 0px;
        left: -1500px;
        top: 450px;
        position: absolute;
        width: 600px;
        height: 100px;  

}


#greenland {
    right: 0px;
    bottom: 0px;
    left: 1000px;
    top: -800px;
    position: absolute;

}

#backtohome {
    right: 0px;
    bottom: 0px;
    left: -1380px;
    top: -80px;
    position: absolute;
    height: 430px;
    width: 400px;

}


#egypt {
    right: 0px;
    bottom: 0px;
    left: 2140px;
    top: 800px;
    position: absolute;
    height: 430px;
    width: 400px;
    
}

#spain {
    right: 0px;
    bottom: 0px;
    left: -400px;
    top: -200px;
    position: absolute;
    height: 430px;
    width: 400px;
    
}

body {
    background-image: url(../worldmap.png);
    width: 1px;
    height: 1px;
    
}


