html,body {
    width: 100%;
    height: 100%
}


h1 {
  background-color: rgba(165, 94, 70, 0.527);
  color: rgba(245, 245, 245, 0.678);
  font-family: 'Verdana';
    padding: 42px;
    padding-left: 175px;
    padding-right: 20px;
    font-size: 55px;
    border: 30px;
    margin-right: -50px;
    margin-top: -32px;
    margin-left: -25px;
    width: 1782px;
  
}

h2 {
   padding-left: 125px;
    margin-left: -25px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 0px;
     font-family: 'Verdana';
     font-size: 35px;
     border: 25px;
}

h3 {
    font-family: 'Verdana';
    width: 1500px;
    color:rgb(0, 0, 0);
}


h4 {
    font-size: 50px;
    width: 1600px; 
    background-color: #466289;
    color: white;
    font-family: 'Verdana';
}

h5 {
    width: 1200px; 
    height: 40px;
    color: aliceblue;
    background-color: #A0AEC1;
    font-size: 30px;
    font-family: 'Verdana';
}

h6 {
    font-size: 40px;
    width: 1500px; 
    background-color: #DBE8F9;
    color: #627894;
    font-family: 'Verdana';
}
#container {
        background-color: rgba(168, 137, 101, 0.705);
        color:whitesmoke;
        width: 1952px;
        height: 80px;
        padding: 10px;
        border: 0px;
        margin-top: -37px;
        margin-right: 0px;
        margin-left: -19px;
}

li {
    font-family: 'Turret Road', cursive;
    font-size: 40px;
    border: 5px solid rgba(110, 68, 43, 0.87);
    background-color: rgb(245, 245, 245);
    padding-right: 30px;
    padding-left: 30px;
    display: inline;
}

a {
    color: rgb(88, 64, 58);
    text-decoration: none;
}

li:hover {
    background-color:rgba(168, 137, 101, 0.705);
}

.content {
    height: 20px;
    width: 20px ;
    padding: 20px
}


body {
    background-image: url(../slangg.jpg) ;
    width: 1000px;
    height: 1000px;
}

.logo {
    width: 250px;
    height: 175px;
    margin-left: -50px;
    margin-top: -28px;
    margin-bottom: -140px;
}

.home {
        width: 108px;
        height: 80px;
        padding: 10px;
        border: 0px;
        margin-top: -40px;
        margin-right: 0px;
        margin-left: -10px;
}

 .homebutton {
        width: 108px;
        height: 80px;
        padding: 10px;
        border: 0px;
        margin-bottom: -10px;
 }

 #menu {
     height: 600px;
     width: 1500px;
     margin-left: 30px;
     margin-top: 20px;
     border: 10px solid  rgba(110, 68, 43, 0.87);
     padding-left: 10px;
     background-color: whitesmoke;
     font-family: 'Verdana';
 }

.snakegif {
    height: 51%;
    width: 25%;
}

.snakegif3 {
    height: 51%;
    width: 30%
}


#button {
height: 50px;
width: 50px;

}

#russia {
        right: 0px;
        bottom: 0px;
        left: 2700px;
        top: 240px;
        position: absolute;
}

#australia {
        right: 0px;
        bottom: 0px;
        left: 3420px;
        top: 1600px;
        position: absolute;
}

#america {
        right: 0px;         
        bottom: 0px;
        left: 400px;
        top: 580px;
        position: absolute;
}

#canada {
        right: 0px;
        bottom: 0px;
        left: 70px;
        top: -300px;
        position: absolute;
        height: 100px;
}

#brazil {
        right: 0px;
        bottom: 0px;
        left: 590px;
        top: 1100px;
        position: absolute;
}

#china {
        right: 0px;
        bottom: 0px;
        left: 2000px;
        top: -700px;
        position: absolute;
        width: 600px;
        height: 100px;
}


#south-africa {
        right: 0px;
        bottom: 0px;
        left: -1100px;
        top: 900px;
        position: absolute;
        width: 700px;
        height: 100px;
}


#france {
        right: 0px;
        bottom: 0px;
        left: -190px;
        top: -1080px;
        position: absolute;
        width: 400px;
        height: 100px; 
}

#italy {
        right: 0px;
        bottom: 0px;
        left: 150px;
        top: 70px;
        position: absolute;
        width: 200px;
        height: 100px; 
}

#germany {
        right: 0px;
        bottom: 0px;
        left: -70px;
        top: -150px;
        position: absolute;
        width: 400px;
        height: 100px; 
}

#mexico {
        right: 0px;
        bottom: 0px;
        left: -1500px;
        top: 450px;
        position: absolute;
        width: 600px;
        height: 100px;  

}


#greenland {
    right: 0px;
    bottom: 0px;
    left: 1000px;
    top: -800px;
    position: absolute;

}

#backtohome {
    right: 0px;
    bottom: 0px;
    left: -1382px;
    top: -75px;
    position: absolute;
    height: 430px;
    width: 400px;

}


#egypt {
    right: 0px;
    bottom: 0px;
    left: 2140px;
    top: 800px;
    position: absolute;
    height: 430px;
    width: 400px;
    
}

#spain {
    right: 0px;
    bottom: 0px;
    left: -400px;
    top: -200px;
    position: absolute;
    height: 200px;
    width: 200px;
    
}

.worldmap {
    background-image: url(worldmap.png);
    height: 2550px;
    width: 4500px;
    margin-left: -20px;
    margin-top: -20px;
}

.snake {
    padding: 10px;
    background-color: #627894;
    margin-top: -90px
}

.background {
    background-image: url(jungle2.jpg);
    background-color: #DBE8F9;
    width: 1500px;
    height: 2000px;

}

